@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, :root {
  height: 100%;
}
/* * {
  box-sizing: border-box;
} */

.nav-hover-p::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px; /* Регулируйте это значение в зависимости от ваших предпочтений */
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.nav-hover-p:hover::after {
  background-color: rgb(15, 15, 15);
}

.homepage {
  background-image: url('/images/Bg2.jpg');
  background-size: cover;
  background-position: bottom;
  position: relative;
}

@media (max-width: 768px) {
  .homepage {
    background-size: 190svh;
    background-position: right;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Audio Player */

#waveform {
  width: 100%;
  max-width: 100%;
}

.controls {
  margin-top: 10px;
}

.controls button {
  margin: 1px;
}

.audio-info {
  margin-top: 15px;
  color: #fff;
  border-radius: 4px;
  padding: 8px 15px;
  font-size: 12px;
}